@font-face {
	font-family: AndadaSC-Italic;
	src: url(font/AndadaSC-Italic.otf);
}

@font-face {
	font-family: Malle;
	src: url(../font/malle.ttf);
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	font-family: AndadaSC-Italic;
	font-style: italic;
	font-size: 64px;
	font-weight: normal;
}


#container{
	width: 70%;
}

img{
	box-shadow: 10px 10px 5px grey;
}

#shirt-img{
	display: block;
	margin: auto;
}


h3 {
	font-family: Malle;
	font-size: 64px;
	font-weight: normal;
	color:white;
}

.center-content {
	align-items: center;
	margin: auto;
	text-align: center;
}

.fit-inpage {
	height:100vh;
}

.background {
	height:100%;
	width:100%;
	/*display: block;*/
	position: fixed;
	z-index: -10;
	background-attachment: fixed;
	background-size: cover;
	/*background-position: center;*/
}

#bgvid {
	min-height: 100%;
	align-self: center;
}

#buy{
	color: white ;
}

.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	align-content: center;
	text-align: center;
}
