body, html {
	background-color: black;
	height:100%;
	margin:0;
}

.bg {
	height: 100%;
	width:100%;
	background: url("../img/tagmaybe.png") no-repeat center;
	background-size: contain;
	align-content: center;
}

.loaded video{
	min-width: 100%;
	min-height: 100%;

	width:auto;
	height:auto;

	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.hidden {
	display: none;
	animation: fadeOut 1s;
}

.visible {
	display:block;
	animation: fadeIn 1s;
}


.centered {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.spinner {
	position: absolute;
	margin-top: 30vh;
}

@-webkit-keyframes fadeOut {
	from {opacity:1;}
	to {opacity:0;}
}

@keyframes fadeOut {
	from {opacity:1;}
	to {opacity:0;}
}

@-webkit-keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}

@keyframes fadeIn {
	from {opacity:0;}
	to {opacity:1;}
}
