body, html{
	height:100%;
	margin:0;
}

.bg {
	height:100%;
	background-image: url("../img/0141.jpg") ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-content: center;
}

.countdown {
	width: 100%;
	color: white;
    /* Add a font */
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-size: 26px;
    position:absolute;
}